
<%- include('../../inc/header.ejs')  %> 
<%- include('../../inc/sidebar.ejs')  %>
<!-- Button trigger modal -->
<div class="height-100 bg-light">
    <h4 style="font-size: medium;margin: 9px;padding-top: 10px;">Pagina de Relatorio de Vendas </h4>
 <form action="/relatorio/vendas/venda" method="get">
     <table class="table">
        <tbody>
            <tr>
                <td>
                <select class="form-control" name="data" id="iddata">
                    <option value="1">Hoje</option>
                    <option value="2">Ontem</option>
                    <option value="7">Ultimos 7 Dias</option>
                    <option value="30">Este Mes</option>
                    <option value="last">Mes Passado</option>
                </select>
                </td>
                <td></td>
                <td> <input type="submit" value="Enviar" class="btns"></td>
            </tr>
        </tbody>
     </table>
 </form>

</div>


<script src="/js/home.js"></script>
</body>
</html>