<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatorio</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/icons.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    
<div class="container">
    <div class="row bg-light" >
        <div class="card">
            <div class="faturas-views ">
              <h3>Xandullas Relatorio de Venda</h3>
            </div>
            <ul class="fatura-ul">
                <li> Endereço: Bairro Vila Alice Distrito/Municipio Rangel</li>
                <li>Provincia de Luanda</li>
                <li>NIF: 002861186BA031</li>
                <li>Email:xandullasatlantico2021@gmail.com</li>
            </ul>
          </div>
      </div>
    <table class="table">
        <thead>
            <th cel="">#</th>
            <th><label for="Usuario">Caixa</label></th>
            <th>Preco</th>
            <th>Data</th>
        </thead>
        <tbody>
            <% let total = 0 ; data.forEach(sales => { total = total +  sales.produto_price_total %>
                <tr>
                    <td><label for="id" class="form-control"><%= sales.id %> </label></td>
                    <td><label for="user" class="form-control"><%= sales['users'].nome %> </label></td>
                    <td><label for="Total" class="form-control"><%= sales.produto_price_total %> Akz </label></td>
                    <td><label for="data" class="form-control"><%= sales.data %> </label></td>
                </tr>
            <% }) 
            
            %>
           
        </tbody>
    </table>
    <table class="table">
        <thead>
            <th>Total de Venda no Periodo Selecionado 
                <%= (periudo == 7 ? '"Ultimos 7 Dias"' : periudo == 2 ? '"Ontem"' : periudo == 1 ? '"Hoje"' : periudo == 30 ? '"Este Mes"' : "Ultimos 30 Dias") %> </th>
        </thead>
        <tbody>
            <tr><td style="font-weight: bold;"> Somando um Total de :  <%= total %> Akz </td></tr>
        </tbody>
    </table>
</div>
    <table></table>



</body>
</html>