<%- include('../inc/header.ejs')  %> 
<%- include('../inc/sidebar.ejs')  %> 
<div class="height-100 bg-light">
    <h4 style="font-size: medium;margin: 8px;padding-top: 6px;"> Historico de Mesas</h4>
    <div class="row">
    <% if(Order){ %> 
        <% Order.forEach((Orders)=>{%>
            <div id="orders<%=Orders.id%>" class="col-md-2 mt-1  " style=" margin:4px; box-shadow: 1px 1px 4px rgb(25, 9, .03); background-color: rgb(0, 0, 0);; min-height: 200px; border-radius: 5px;display:inline-table; min-width: 250px;max-width: 250px;">
                
                <div class="card" style="background-color: rgb(0, 0, 0);color: #fff;">
                    <button class="closedelete" onclick="deleteOrder(this)" id="order<%= Orders.id %> ">x</button>
                    <br>
                                <div class="card-body" id="CheckpageDetalhes" style="margin: 3px;padding: 3px;">
                                    
                                    <ul class="detalhesOrders" id="detalhesOrders<%= Orders.id %>"  style=" text-align: left; margin: 0;padding: 0; list-style: none;font-size: small;" name="<%= Orders.id %>">
                                       
                                        <li> <h6 class="font-weight-semibold mb-2 totalValor" id="totalValor"></h6></li>
                                        
                                    </ul>
                                </div>
                                <div class="card-body text-center" style="background-color: rgba(20, 0, 0, 0.205);border-radius: 5px;">
                                    <h3 class="mb-0 font-weight-semibold" style="font-size: medium;font-family: sans-serif;font-weight: bold;" id="price"> Mesa <%= Orders.nome %></h3>
                                    <button type="button" class="btn btn-primary btn-rounded btn-lg" id="btnClickAddCliente" style="background: rgb(1, 97, 33); font-weight: bold;border: none; margin: 5px;padding: 5px;" >  <a  href="/order/<%= Orders.id %>/preview"  style="background: rgb(1, 97, 33); font-weight: bold;border: none;color: #fff;padding: 5px;margin: 5px;"> <i class="fa fa-cart-plus mr-2"></i> Cliente</a></button>
                                    <button type="button" class="btn btn-primary btn-rounded btn-lg" id="finalizar" style="background: rgb(121, 1, 1); font-weight: bold;border: none;margin: 5px;padding: 5px;" >  <a  href="/order/<%= Orders.id %>/fine" id="finalizar" style="background: rgb(121, 1, 1); font-weight: bold;border: none;color: #fff;padding: 5px;margin: 5px;"> <i class="fa fa-cart-plus mr-2"></i> Finalizar</a></button>
                                    <button type="button" class="btn btn-primary btn-rounded btn-lg" id="btnClickAdd" style="background: rgb(2, 102, 148); font-weight: bold;border: none;padding: 5px; margin: 5px;"  > <a href="/order/<%= Orders.id %>/add"  style="background: rgb(2, 102, 148); font-weight: bold;border: none;color: #fff;padding: 5px;margin: 4px;"><i class="fa fa-cart-plus mr-2"></i> adicionar</a></button>
                                </div>
                            </div>           
        </div> 
           
        <% }) %>     
       <% } %> 
       
</div>
</div>
   
<script src="/js/home.js"></script>
<script src="/js/oderslist.js"></script>
</body>
</html>