

<%- include('../inc/header.ejs')  %>  
<%- include('../inc/sidebar.ejs')  %>  
<!-- Button trigger modal -->
<div class="height bg-light" style="height: auto;">
    <h4 style="font-size: medium; padding: 5px;font-family: sans-serif;font-weight: bold;color: #333;">Todos os Produtos</h4>
    <div class="">
        <form action="" method="get" class="form">
            <table class="table">
                <tr>
                    <td><input type="search" class="form-control"  placeholder="Pesquise um produto !" name="search" id="search"></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="row produtosist" id="produtosList">
      <%  if(data){ %>
        <%  data.forEach((Produtos)=>{ %>
            <div class="col-md" style="min-width: 190px;max-width: 200px;margin: 4px;" >
                <div class="card" style="min-width: 190px;max-width: 200px;margin: 4px;">
                                    <div class="card-body">
                                        <div class="mb-2">
                                            <h6 class="font-weight-semibold mb-1" style="font-size: small;">
                                                <%= Produtos.produto_name %>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="card-body bg-light text-center">
                                        <div class="card-img-actions">
                                            <%=  %>
                                        </div>
                                        <h3 class="mb-0 font-weight-semibold" id="price" style="font-size: small;font-weight: bold;">  <%= Produtos.produto_price %> akz</h3>
                                        <button type="button" class="btn bg-cart" id="btnClickAdd" style=" padding: 4px; margin-top: 5px; background: rgba(212, 2, 2, 0.808); color: #fff;;border-radius: 10px;border:none;font-family: sans-serif;font-weight: bold;" onclick="add(this)" name="<%= Produtos.id %>" style="margin: 10px;"><i class="fa fa-cart-plus mr-2"></i> Adicionar Produto</button>
                                    </div>
                                </div>           
           </div> 
       <% }) %>  
     
     <% } %>


  </div>
</div>
  <div class="container"> <button class="btn" style=" padding: 4px; margin-top: 5px; background: rgba(212, 2, 2, 0.808); color: #fff;;border-radius: 10px;border:none;font-family: sans-serif;font-weight: bold;"><a style="width: 200px; color: #fff; font-weight: bold;" class="btn" href="/orders">Aguardar</a></button></div>

</body>
<script src="/js/home.js"></script>
<script src="/js/search.js"></script>
</html>