<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= Title %> </title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/icons.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery-3.2.1.js"></script>
</head>
<body>
<div class="container d-flex justify-content-center">        
  <div class="row">
      <div class="card">
        <div class="faturas-views">
          <h3>Xandullas</h3>
        </div>
        <ul class="fatura-ul">
            <li> Endereço: Bairro Vila Alice Distrito/Municipio Rangel</li>
            <li>Provincia de Luanda</li>
            <li>NIF: 002861186BA031</li>
            <li>Email: xandullasatlantico2021@gmail.com</li>
        </ul>
      </div>
<div class="name-fatura">
  <h3 class="title-fatura">Fatura-Recibo</h3>
  <h3 class="title-fatura" style="font-size: medium;font-weight: bold;">Fatura n# <%= fatura %> </h3>
</div>
    <form action="" class="card">
       <table class="table">
        <thead>
           <tr>
               <th escope="col">#</th>
            <th escope="col">Produto</th>
            <th escope="col">Quantidade</th>
            <th escope="col">Preço</th>
           </tr>
        </thead>
        <tbody>
           
          <% if (data) { %>
            <% data.forEach((produtos,key)=>{ %>
              <tr>
              <th escope="row"><%= key %> </th>
              <td><%= produtos.produto_name %> </td>
              <td><%= produtos.produto_qtd %></td>
              <td><%= produtos.total_order_price %> akz</td>
          </tr>
          <% }) %> 
          <% } %>
               
               
            
        </tbody>
        <thead>
          <tr>
           <th escope="col">Data</th>
           <th escope="col">Clinte</th>
           <th escope="col">NIF</th>
           <th escope="col">Atendente</th>
          </tr>
         </thead>
         <tbody>
             
              <tr>
              <td><%= detlahes.data %> </td>
              <td><%= detlahes.nome %> </td>
              <td><%= detlahes.nif %></td>
              <td><%= detlahes.atendente %></td>
          </tr>    
      </tbody>
       <thead>
        <tr>
         <th escope="col">Total</th>
         <th escope="col">Imposto</th>
         <th escope="col">Total a Pagar</th>
        </tr>
       </thead>
       <tbody>
           
            <tr>
            <td><%= total %> Akz</td>
            <td>0%</td>
            <td><%= total %> Akz</td>
        </tr>    
    </tbody>
    <thead>
      <tr>
       <th escope="col">Obrigado</th>
      </tr>
     </thead>
       </table>
    </form>
  </div>
</div>
<script src="/js/fine.js"></script>
</body>
</html>