<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= Title %> </title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/icons.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery-3.2.1.js"></script>
</head>
<body>
<div class="container d-flex justify-content-center">        
  <div class="row">
    <div class="card">
        <div class="card-body">
            <h2 style="font-family: sans-serif;font-size: medium;"><%= message %>. </h2>
        </div>
    </div>
  </div>
</div>
</body>
</html>