
<%- include('../inc/header.ejs')  %> 
<%- include('../inc/sidebar.ejs')  %>
<!-- Button trigger modal -->
<div class="container d-flex justify-content-center mt-50 mb-50">        
  <div class="row">
   
    <form id="formOrderUpdateProdutos" style=" margin-top: 50px; box-shadow: 1px 1px 4px rgba(25, 9, 0, 0.342); background-color:#f9f9f9; color: #ddd; border-radius: 10px; ">
      <p class="text-white-50 mb-5" id="status"> </p>
      <table class="table">
          <tbody>
              <tr><td><label for="produto_name" style="color: #333;">Nome do Produto</label></td>  <td><input type="text" name="produto_name" class="form-control" placeholder="digite o nome do produto!" value="<%= produto.produto_name %>" id="produto_name"></td></tr>
              <tr><td><label for="produto_name" style="color: #333;">Preco do Produto</label></td>  <td><input type="number " name="produto_price" class="form-control" placeholder="digite o Preco do produto!" value="<%= produto.produto_price %>" id="produto_price"></td></tr>
             <tr>
               <td><label for="produto_name" style="color: #333;">Categoria</label></td>
               <td>
               
                <% if (Object(categoria.rows).length > 0) { %>
                  <select id="categoriaId" class="form-control"> 
                    <% categoria.rows.forEach(element => { %>
                      <option value="<%= element.id %>"><%= element.nome %></option>
                    <% }) %>
                    
                 </select>
                  <% }else{ %>
                    <select id="categoriaId" class="form-control"> 
                        <option value="<%= idp %>"><%= categoria %></option>
                   </select>
                  <% } %> 
                
                <td>
             
             <tr>
              <tr><td><label for="produto_name" style="color: #333;">Quantidade do Produto</label></td>  <td><input type="number" name="produto_qtd" class="form-control" placeholder="digite quantidade do produto!" id="produto_qtd" value="<%= produto.produto_qtd %>"></td></tr>
              <tr><td><label for="produto_name" style="color: #333;">Descrisao do Produto</label></td>  <td><textarea type="text"  name="produto_descrisao"  class="form-control" rows="10" placeholder="digite a descrisao !" id="produto_descrisao" > </textarea></td></tr>
          </tbody>
      </table>
  <div class="modal-footer" style="border: none;">
    <a style="width: 200px; " class="btn btn-primary" href="/produtos">Voltar</a>
      <button id="buttonEditarProdutos" type="submit" class="buttonEditarProdutos btn btn-success" style="width: 200px; ">Atualizar Produto</button>
      </div>
      </form>
  </div>
</div>

<script src="/js/home.js"></script>
</body>
</html>