

<%- include('../inc/header.ejs')  %>  
 <!-- Modal -->

<%- include('../inc/sidebar.ejs')  %>  
<!-- Button trigger modal -->  
<!-- Button trigger modal -->
<div class="height-100 bg-light">
  <h4 style="font-size: medium; margin-top: 10px;padding-top: 10px;"><a  class="btn btn-default"  href="/produto/add">Adicionar Produto</a>  </h4>
     
<div  class="modal fade" style="position: fixed; right: 0;margin: 0;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog">
   <div class="modal-content" style="background: rgb(25, 9, 43);">
     <div class="modal-header" style="border: none;">
       <h5 class="modal-title" id="exampleModalLabel" style="color: #fff;">Produto Detalhes</h5>
       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     </div>
     <div class="modal-body" >
         <form id="formOrderCreateProdutos">
             <p class="text-white-50 mb-5" id="status"> </p>
             <table class="table">
                 <tbody>
                     <tr><td><label for="produto_name" style="color: #fff;">Nome do Produto</label></td>  <td><input type="text" name="produto_name" class="form-control" placeholder="digite o nome do produto!" id="produto_name"></td></tr>
                     <tr><td><label for="produto_name" style="color: #fff;">Preco do Produto</label></td>  <td><input type="number " name="produto_price" class="form-control" placeholder="digite o Preco do produto!" id="produto_price"></td></tr>
                     <tr><td><label for="produto_name" style="color: #fff;">Quantidade do Produto</label></td>  <td><input type="number" name="produto_qtd" class="form-control" placeholder="digite quantidade do produto!" id="produto_qtd"></td></tr>
                     <tr><td><label for="produto_name" style="color: #fff;">Descrisao do Produto</label></td>  <td><textarea type="text" name="produto_descrisao" class="form-control" placeholder="digite a descrisao !" id="produto_descrisao"> </textarea></td></tr>
                 </tbody>
             </table>
         <div class="modal-footer" style="border: none;">
             <a href="#" type="buttonfecharModel" id="buttonfecharModel" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
             <button id="buttonCriarProdutos" type="submit" class="buttonCriarProdutos btn btn-success" style="width: 200px; ">Criar Produto</button>
             </div>
             </form>
     </div>
    
   </div>
 </div>
</div>

  <div class="row">
    <%  if(data){ %>
      <%  data.forEach((Produtos)=>{ %>
          <div class="col-md-3 mt-2" id="produtos<%=Produtos.id%>" style="min-width: 200px; max-width: 200px; max-height: 233px;">
              <div class="card">
                <div class="card-body">
                  <div class="mb-2">
                      <h6 class="font-weight-semibold mb-1" style="font-size: medium; font-family: sans-serif;font-weight: bold;color: #666;">
                          <%= Produtos.produto_name %>
                      </h6>
                  </div>
              </div>
              <div class="card-body bg-light text-center">
                <div class="card-img-actions">
                    <%=  %>
                </div>
                                      <h3 class="mb-0 font-weight-semibold" id="price" style="font-size: medium;font-weight: bold;color: #666;">  <%= Produtos.produto_price %> akz</h3>
                                      <a href="/produto/<%= Produtos.id %>/editar" type="button" class="btn btn-default" ><i class="fa fa-cart-plus mr-2"></i> Editar</a>
                                      <a href="#" type="button" class="btn btn-default" id="<%=Produtos.id%>" onclick="deleteProduto(this)" name="<%=Produtos.id%>" ><i class="fa fa-cart-plus mr-2"></i> Eliminar</a> 
                                  </div>
                              </div>           
         </div> 
     <% }) %>  
   
   <% } %>
  </div>





<script src="/js/home.js"></script>
<script src="/js/deleteProduto.js"></script>
</body>
</html>