
<%- include('../inc/header.ejs')  %> 
<%- include('../inc/sidebar.ejs')  %>
<!-- Button trigger modal -->
<div class="container d-flex justify-content-center mt-50 mb-50">        
  <div class="row">


  <%  if (editar.length != 0) { %>
    <%=  %> 
    <p style="color: #333;" id="status" class="status"></p>
    <form action="/update" method="post" id="formOrderCreateUsuariosdfUpdate" enctype="multipart/form-data" style=" margin-top: 50px; box-shadow: 1px 1px 4px rgba(25, 9, 0, 0.342); background-color:#f9f9f9; color: #ddd; border-radius: 10px; ">
     
      <table class="table">
          <tbody>
              <tr><td><label for="nome" style="color: #333;">Nome</label></td>  <td><input type="text" name="nome" value="<%= editar.nome %> " class="form-control" placeholder="digite o nome do usuario!" id="name"></td></tr>
              <tr><td><label for="email" style="color: #333;">Email</label></td>  <td><input type="email" name="email" value="<%= editar.email %> " class="form-control" placeholder="digite o email!" id="email"></td></tr>
              <tr><td><label for="email" style="color: #333;">Password</label></td>  <td><input type="password" name="password"  class="form-control" placeholder="digite password !" id="password"></td></tr>
                <tr><td><label for="file">Foto de Perfil</label></td> <td><input type="file" name="file" id="file" class="form-control"></td>
                </tr>
              <tr>
               <td><label for="produto_name" style="color: #333;">Nivel</label></td>
               <td>
                 <select  id="level" name="level" id="level" class="form-control">

                  <% if( editar.regras.levels == 1) { %> 
                      <option value="1">Garsonet</option>
                    <% }else if(editar.regras.levels == 2){ %>
                      <option value="2">Atendente</option>
                      <% }else{ %>
                        <option value="3">Gerente</option>
                      <% } %> 
                    
                   
                    
                 </select>
                
                <td>
             
             <tr>
               <tr>
                 <td><input type="hidden" name="id" value="<%= editar.id %>" /></td>
               </tr>
             </tbody>
      </table>
  <div class="modal-footer" style="border: none;">
    <a  class="btn " style="width: 200px; font-family: sans-serif; border-radius: 6px;border: 1px solid rgba(25, 9, 0, 0.164);" href="/usuarios">Voltar</a>
      <button id="buttonCriarUsuariosUpdate"  type="submit" class="buttonCriarUsuarios btn" style="width: 200px; font-family: sans-serif; border-radius: 6px;border: 1px solid rgba(25, 9, 0, 0.164);">Atualizar dados Usuario</button>
      </div>
      </form>
  <% }else { %> 




    <form action="/register" method="post" id="formOrderCreateUsuariosdf" enctype="multipart/form-data" style=" margin-top: 50px; box-shadow: 1px 1px 4px rgba(25, 9, 0, 0.342); background-color:#f9f9f9; color: #ddd; border-radius: 10px; ">
      <p class="text-white-50 mb-5" id="status"> </p>
      <table class="table">
          <tbody>
              <tr><td><label for="nome" style="color: #333;">Nome</label></td>  <td><input type="text" name="nome" class="form-control" placeholder="digite o nome do usuario!" id="name"></td></tr>
              <tr><td><label for="email" style="color: #333;">Email</label></td>  <td><input type="email" name="email" class="form-control" placeholder="digite o email!" id="email"></td></tr>
              <tr><td><label for="email" style="color: #333;">Password</label></td>  <td><input type="password" name="password" class="form-control" placeholder="digite password !" id="password"></td></tr>
                <tr><td><label for="file">Foto de Perfil</label></td> <td><input type="file" name="file" id="file" class="form-control"></td>
                </tr>
              <tr>
               <td><label for="produto_name" style="color: #333;">Nivel</label></td>
               <td>
                 <select id="level" name="level" id="level" class="form-control">
                    <option value="2">Atendente</option>
                    <option value="1">Garsonet</option>
                    <option value="3">Gerente</option>
                 </select>
                
                <td>
             
             <tr>
             </tbody>
      </table>
  <div class="modal-footer" style="border: none;">
    <a  class="btn " style="width: 200px; font-family: sans-serif; border-radius: 6px;border: 1px solid rgba(25, 9, 0, 0.164);" href="/usuarios">Voltar</a>
      <button id="buttonCriarUsuarios"  type="submit" class="buttonCriarUsuarios btn" style="width: 200px; font-family: sans-serif; border-radius: 6px;border: 1px solid rgba(25, 9, 0, 0.164);">Criar Usuario</button>
      </div>
      </form>
      <% } %> 
  </div>
</div>

<script src="/js/home.js"></script>
</body>
</html>