<%- include('../inc/header.ejs')  %> 
<%- include('../inc/sidebar.ejs')  %>
<!-- Button trigger modal -->


<div class="height-100 bg-light">
  <h4 style="font-size: medium;margin: 9px;padding-top: 10px;"><a style="background: rgba(131, 3, 3, 0.808); font-weight: bold;border: none; width: 200px; color: #fff; min-height: 40px;line-height: 40px; " class="btn" href="/usuario/add">Adicionar Usuario</a>  </h4>
  <div class="row">

    <% if (Users) { %>
    <% Users.forEach(User=>{ %>
      <div class="col-md-12 col-xl-2" style="min-width: 200px;margin: 4px;">
        <div class="card" style="border-radius: 15px; background: #000;">
          <div class="card-body text-center">
            <div class="mt-3 mb-4">
              <img src="/upload/<%= User.foto %>"
                class="rounded-circle img-fluid" style="width: 100px;height: 100px;" />
            </div>
            <h4 class="mb-2" style="color: #ddd;"><%= User.nome %> </h4>
            <p class="text-muted mb-4" style="font-size: xx-small;"> <%= User.level %>  <span class="mx-2">|</span> <%= User.email %> </p>
            <button type="button"  class="btn btn-primary btn-rounded btn-lg" style="background: rgba(131, 3, 3, 0.808); font-weight: bold;border: none; width: 70px;font-size: 11px;padding: 5px;margin: 5px;">
              <a href="/usuario/add/<%= User.id %> " style="font-weight: bold;border: none; width: 70px;font-size: 11px; display: inline; color: #fff;">Editar</a>
            </button>
            <button type="button" disabled class="btn btn-primary btn-rounded btn-lg" style="background: rgba(131, 3, 3, 0.808); font-weight: bold;border: none;width: 85px;font-size: 11px;">
              Eliminar
            </button>
          </div>
        </div>
        </div>
   <% }) %> 
    
    <% } %>
    </div>
    </div>
<script src="/js/home.js"></script>
</body>
</html>