.gradient-custom {
    /* fallback for old browsers */
    background: #f9f9f9;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255))
    }

   
    .btn-default-xl{
        padding: 5px;
        font-family: sans-serif;
        min-width: 100%;
        font-weight: bold;
        background: rgba(212, 2, 2, 0.808); color: #fff;
    }
    .btns{
        border: none;
        padding: 5px;
        font-family: sans-serif;
        min-width: 100%;
        font-weight: bold;
        background: rgba(2, 212, 142, 0.733); color: #fff;
    }