
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");:root{--header-height: 3rem;--nav-width: 68px;--first-color: #4723D9;--first-color-light: #AFA5D9;--white-color: #F7F6FB;--body-font: 'Nunito', sans-serif;--normal-font-size: 1rem;--z-fixed: 100}*,::before,::after{box-sizing: border-box}body{ font-family: sans-serif; margin: var(--header-height) 0 0 0;padding: 0 5rem;font-family: var(--body-font);font-size: var(--normal-font-size);transition: .5s}a{text-decoration: none}.header{width: 100%;height: var(--header-height);position: fixed;top: 0;left: 0;display: flex;align-items: center;justify-content: space-between;padding: 0 1rem;background-color: var(--white-color);z-index: var(--z-fixed);transition: .5s}.header_toggle{color: var(--first-color);font-size: 1.5rem;cursor: pointer}.header_img{width: 35px;height: 35px;display: flex;justify-content: center;border-radius: 50%;overflow: hidden}.header_img img{width: 40px}.l-navbar{position: fixed;top: 0;left: -30%;width: var(--nav-width);height: 100vh;background-color: var(--first-color);padding: .5rem 1rem 0 0;transition: .5s;z-index: var(--z-fixed)}.nav{height: 100%;display: flex;flex-direction: column;justify-content: space-between;overflow: hidden}.nav_logo, .nav_link{display: grid;grid-template-columns: max-content max-content;align-items: center;column-gap: 1rem;padding: .5rem 0 .5rem 1.5rem}.nav_logo{margin-bottom: 2rem}.nav_logo-icon{font-size: 1.25rem;color: var(--white-color)}.nav_logo-name{color: var(--white-color);font-weight: 700}.nav_link{position: relative;color: var(--first-color-light);margin-bottom: 1.5rem;transition: .3s}.nav_link:hover{color: var(--white-color)}.nav_icon{font-size: 1.25rem}.show{left: 0}.body-pd{padding-left: calc(var(--nav-width) + 1rem)}.active{color: var(--white-color)}.active::before{content: '';position: absolute;left: 0;width: 2px;height: 32px;background-color: var(--white-color)}.height-100{height:100vh}@media screen and (min-width: 768px){body{margin: calc(var(--header-height) + 1rem) 0 0 0;padding-left: calc(var(--nav-width) + 2rem)}.header{height: calc(var(--header-height) + 1rem);padding: 0 2rem 0 calc(var(--nav-width) + 2rem)}.header_img{width: 40px;height: 40px}.header_img img{width: 45px}.l-navbar{left: 0;padding: 1rem 1rem 0 0}.show{width: calc(var(--nav-width) + 156px)}.body-pd{padding-left: calc(var(--nav-width) + 188px)}}

#homes{
    text-align: center;
    margin: 0 auto;
}
#homes .card{
    background: #000;
    border-radius: 5px;
}
#homes a{
    margin: 5px;
    display: inline-table;
    width: 250px;
}
#homes .mb-2{
    color: #f9f9f9;
    font-family: sans-serif;
    font-weight: bold;
    font-size: medium;
}
#homes #module{
    font-size: medium;
    font-family: sans-serif;
    width: 250px;
    background: #000;
    border-radius: 5px;
}
#relatorio h2{
    margin: 0px;
    padding: 5px;
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
    font-style: inherit;
}
#relatorio ul{
    list-style: none;
    padding-left: 10px;
}
#relatorio ul li{
    padding-left: 10px;
}
#orders16{
    display: none;
}

.closedelete{
    border: none;
    z-index: 999;
    position: absolute;
    float: right;
    right: 0%;
    top: 1%;
    background:rgba(212, 2, 2, 0.808);
    color: #fff;
    width: 24px;
}
 .h4s{
     margin: 6px;
    font-weight: bold;
    font-size: medium;
    margin: 8px;
    padding-top: 6px;
    padding: 10px;
 }
.navegacao{
    padding: 0;
    margin: 0;
    margin-top: 10px;
    list-style: none;
}
.btns-vd:hover{
    background: none;
    
}
.btns-vd a{
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
  
}
.btns-vd a:hover{
    color: #222;
    background: #fff;
}
.btns-vd{
    background: none; color: #fff;;border-radius: 10px;border:none;font-family: sans-serif;font-weight: bold;
}
.navegacao li{
    text-align: center;
    min-width: auto;
    display: inline-table;
    border-left: none;
    border-right: none;
    min-height: 50px;
    line-height: 50px;
    margin: 5px;
    border-radius: 5px;
    padding: 6px;
}
.navegacao li:hover{
    background-color: rgba(212, 2, 2, 0.808)
}
.navegacao a{
    color: #fff;
    display: inline-table;
    border-left: none;
    border-right: none;
    border: none;
}
.types{
    font-family: sans-serif;
    font-weight: bold;
    font-size: small;
}
.mt-50{

    margin-top: 50px;
}

.mb-50{

    margin-bottom: 50px;
}

.btn-default:hover{
    background-color: #fff;
    color: #444;
    border: 1px solid rgba(212, 2, 2, 0.199);   
}

.btn-default{
    padding: 5px; margin: 5px; background: rgba(212, 2, 2, 0.808); color: #fff;;border-radius: 10px;border:none;font-family: sans-serif;font-weight: bold; height: 40px; display: inline-table;line-height: 40px;min-width: 100px;
}
.btn-default-xl:hover{
    background-color: #fff;
    color: #444;
    border: 1px solid rgba(212, 2, 2, 0.199);   
}
.btn-default-hover:hover{
    background-color: #fff;
    color: #444;
    border: 1px solid rgba(212, 2, 2, 0.199);   
}
.btn-default-xl{
    padding: 5px;
    font-family: sans-serif;
    min-width: 100%;
    font-weight: bold;
    background: rgba(212, 2, 2, 0.808); color: #fff;
}
.headtop{
    padding: 4px;
    line-height: 40px;
}
.headtop label:first-child{
    width: 10%;
}
.ul-detalhes li{
    list-style: none;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.185);
    line-height: 30px;
    height: 35px;
}
.headtop label{
    font-family: sans-serif;
    display: inline-table;
    width: 20%;
    font-size: medium;
}
.ul-detalhes {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ul-detalhes li label{
    font-family: sans-serif;
    display: inline-table;
    width: 20%;
}
.btns{
    padding: 5px;
    font-family: sans-serif;
    min-width: 100%;
    font-weight: bold;
    background: rgba(2, 212, 142, 0.37); color: #fff;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .1875rem;
}

.card-img-actions {
    position: relative;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center;
}

.card-img{

    width: 350px;
}

.star{
        color: red;
}

.bg-cart {
    background-color:orange;
    color:#fff;
}

.bg-cart:hover {
    
    color:#fff;
}

.bg-buy {
    background-color:green;
    color:#fff;
    padding-right: 29px;
}
.bg-buy:hover {
    
    color:#fff;
}

a{

    text-decoration: none !important;
}
#hedaers{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px rgba(0,0,0, .02);
}
#Username{
    color: #444;font-weight: 600;
    border-color: #ffe484;
}
.fatura-ul{
    text-align: center;
    font-weight: bold;
    list-style: none;
}
.name-fatura{
    border: 1px solid rgba(0,0,0, .09);
    text-align: center;
}
.faturas-views{
    padding: 5px;
    font-weight: bold;
    margin: 6px;
    text-align: center;
}
#_navbar-nav{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: inline-table;
    list-style: none;
    padding: 0;
   
}
.navbarSysytem{
    width: 800px;
    border: 1px rgba(106, 17, 203, 1);
    border-radius: 5px;
    margin: 0 auto;
    background: rgb(25, 9, 43);
    margin-top: 100px;
}
#mesas{
    box-shadow: 0px 12px 4px rgba(0,0,0, .02) ;
    background: rgb(25, 9, 43);
}
#_navbar-nav li{
    line-height: 200px;
    text-align: center;
    min-height: 200px;
    display: inline-table;
    width: 50%;
}
#_navbar-nav li:hover{
    background-color: #fff;
    color: #444;
}
#_navbar-nav li a:hover{
    color: #444;
}
#bdNavbarleft{
    background: rgb(25, 9, 43);
    border-radius: 5px;
    margin: 0 ;
}
#_navbar-nav li a{
    color: #fff;
}
.input-values{
    padding-top: 100px;
    margin: 0 auto;
    width:auto;
}

.input-values table tbody tr td input[type="number"]{
    width: 41.5em;
    height: 60px;
    border-radius: 3px;
    margin: 5px;
    font-size: x-large;

}
.Del{
    background-color: #aa1b1b;
    color: #fff;
    border: 1px solid #aa1b1b;
}
.total-section{
    padding-left: 15px;
}
.total-section span{
    display: inline-table;
    width: 40%;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.total-section span:first-child{
    color: #aa1b1b;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 50px;
}
.total-section span:last-child{
    text-align: right;
    padding-right: 10px;
}
.Pagar{
    background: #196be7;
    color: #fff;
}
.Pagar a{
    color: #fff;
}
.form-table-formate button{
    width: 10.39em;
    border: #4723D9;
    font-size: xx-large;
    font-weight: bold;
    font-family: sans-serif;
}

.sair{
    background:rgb(208, 64, 64);
    margin: 0px;
    padding: 0px;
    float: right;
    cursor: pointer;
    width: 100px;
    line-height: 35px;
    height: 30px;
    font-weight: bold;
    color: #fff;
    font-size: larger;
    text-align: center;
    border-top-right-radius: 4px;
}
.prompt{
    display: none;
    background: #F7F6FB;
    position: fixed;
    height: 70%;
    width: 70%;
    z-index: 9999;
    margin: 0 auto;
    padding: 0;
    top: 10%;
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 5%;
    left: 50px;
}

