<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | App </title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon">

</head>
<body>
    <form id="form" method="post">
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5" style="width: 30%;max-width: 316px;min-width: 316px;">
              <div class="card  text-black-50" style="margin-top: 45%; " >
                <div class="card-body text-center" >
      
                  <div class="">
      
                    <h2 class="text-black-50 mb-2 text-uppercase">Entrar</h2>
                    <p class="text-black-50 mb-5" id="status"> Por favor digite seu email e senha ! </p>
      
                    <div class="form-outline form-white mb-4">
                      <input type="email" name="email" id="typeEmailX" placeholder="Por favor digite seu email !" class="form-control form-control-lg" style="font-size: small;" />
                    </div>
      
                    <div class="form-outline form-white mb-4">
                      <input type="password" name="password" placeholder="Por favor digite sua senha !" id="typePasswordX" class="form-control form-control-lg" style="font-size: small;" />
                    </div>
    
                    <button class="btns" style="color: #fff;"  id="btnsubmit" type="submit">Entrar</button>
      
                  </div>
      
                  <div>
                    
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>

    <script src="/js/index.js"></script>
</body>
</html>