<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= Title %>  </title>
    <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon">
</head>
<body>
    <div>
        <form action="" method="post"></form>
    </div>
</body>
</html>