
<%- include('../inc/header.ejs')  %> 
<%- include('../inc/sidebar.ejs')  %>
<!-- Button trigger modal -->
<div class="height-100 bg-light">
    <h4 style="font-size: medium;margin: 9px;padding-top: 10px;">Pagina de Relatorio  </h4>
      <div class="row" id="relatorio">
        <h2 >Relatórios Sintéticos</h2>
        <ul>
           <li> <a href="/relatorio/vendas"> Vendas </a></li>
           <li><a href="/relatorio/categoria">Categorias  </a></li>
           <li><a href="/relatorio/cliente">Clientes </a></li>
           <li><a href="/relatorio/fornecedores">Fornecedores </a></li>
           <li><a href="/relatorio/produtos">Produtos </a></li>
           <li><a href="/relatorio/funcionarios/index">Funcionários </a></li>
           <li><a href="/relatorio/imposto">Impostos </a></li>
           <li><a href="/relatorio/desconto">Descontos </a></li>
           <li><a href="/relatorio/pagamentos">Pagamentos </a></li>
        </ul>

        <h2>Relatórios Analíticos</h2>
          <ul>
           <li> <a href=""> Vendas </a> </li>
           <li> <a href="">Entradas </a></li>
           <li> <a href="">Cliente </a></li>
           <li> <a href="">Funcionário </a></li>
           <li> <a href="">Relatório de Estoque </a></li>
           <li> <a href="">Relatório de Estoque Baixo </a></li>
           <li> <a href="">Resumo do Estoque </a></li>
          </ul>
      </div>
      </div>

<script src="/js/home.js"></script>
</body>
</html>