<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= Title %> </title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/icons.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery-3.2.1.js"></script>
</head>
<body style="font-family: sans-serif;">
<div class="container d-flex justify-content-center" style="margin: 5px;">   
<div class="row bg-light" >
        <div class="card">
            <div class="faturas-views ">
              <h3>Xandullas Relatorio Diario</h3>
            </div>
            <ul class="fatura-ul">
                <li> Endereço: Bairro Vila Alice Distrito/Municipio Rangel</li>
                <li>Provincia de Luanda</li>
                <li>NIF: 002861186BA031</li>
                <li>Email:xandullasatlantico2021@gmail.com</li>
            </ul>
          </div>
      </div>
<br>
      
      
    </div>
    <% if (data) { %>
       
        <% if (data) { %> 
            <% data.forEach(element => { %>
    <div class="card" style="padding: 0; border: 1px solid rgba(0, 0, 0, 0.363); border-radius: 5px;margin: 5px;">
        <div class="card-body" style="padding: 0; border: 1px solid rgba(0, 0, 0, 0.363); border-radius: 5px;">
                <div class="mb-2 headtop">
                    <% const d = new Date(element.created_at); %> 
                    <label style="font-weight: bold;" for="id">Id# <%= element.id %></label>
                    <label style="font-weight: bold;" for="mesa">Mesa n# <%= element.nome %></label>
                    <label style="font-weight: bold;" for="mesa">Cliente : <%= element.email %> </label>
                    <label style="font-weight: bold;" for="mesa"><%=  d.toLocaleString() %></label>
                    <label style="font-weight: bold;" for="mesa">Caixa <%= element.users.nome %></label>
            </div>
        </div>
        <div class="card-body" style="padding: 0; border: 1px solid rgba(0, 0, 0, 0.363); border-radius: 5px;">
            <div>
                <ul class="ul-detalhes" id="detalhesmesa<%= element.id %>" name="<%= element.id %>">
                    <li style="text-align: left; font-weight: bold; margin: 4px;padding: 6px;"> <h6 class="mb-2 totalValor" style="font-weight: bold;" id="totalValor">
                    </h6></li>
                </ul>
            </div>
        </div>
    </div>
    <% }) %>
                   
    <% } %>
    
    <span style="border: 1px solid rgba(0, 0, 0, 0.24); margin: 5px; padding: 4px; font-family: sans-serif;">Valor total de Vendade Hoje <h5 id="totalValorRelatorio" style="font-family: sans-serif;font-weight: bold; border: 1px solid rgba(0, 0, 0, 0.24); border-radius: 5px; padding: 5px; font-size: medium;">
    </h5> 
  </span>
    
<% } %>
                      

    <script src="/js/relatorio.js"></script>
    </body>
    </html>
