
  <%- include('../inc/header.ejs')  %> 
  <%- include('../inc/sidebar.ejs')  %> 
  <div class="container d-flex justify-content-center mt-50 mb-50">   
        <div class="row">
            <form action="/configuracao" method="post"  enctype="multipart/form-data" style="padding-top: 20px; margin-top: 20px; width: 100%;">
                <table class="table">
                    <tbody>
                        <tr> <td><label for="nome">Nome da Empresa</label></td><td><input type="text" placeholder="nome da empresa" name="name" id="name" class="form-control"></td></tr>
                    </tbody>
                    </table>

                    <table class="table">
                        <tbody>
                            <tr> 
                                <td><label for="nome">Logo da Empresa</label></td>
                                <td><input type="file" name="file" id="file" class="form-control"></td>
                                <td><label for="desconto">Desconto</label></td>
                                <td><input type="number" placeholder="desconto para todos os produtos" name="desconto" id="desconto" class="form-control"></td>
                            
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <tbody>
                            <tr> 
                                <td><label for="endereco">Endereco</label></td>
                                <td><input type="text" name="endereco" placeholder="endereco da empresa" id="endereco" class="form-control"></td>
                                <td><label for="Telefone">Telefone</label></td>
                                <td><input type="number" placeholder="numero de telefone da Empresa" name="numero" id="numero" class="form-control"></td>
                            
                            </tr>
                        </tbody>
                    </table>
                            <table class="table">
                                <tbody>
                                    <tr> <td><label for="email">Email da Empresa</label></td><td><input type="email" name="email" id="email" class="form-control"></td></tr>
                                    <tr> <td><label for="nif">NIF</label></td><td><input type="text" name="nif" id="nif" class="form-control"></td></tr>
                                    <tr> <td><label for="mensagem">Mensagem</label></td><td><input type="text" name="mensagem" id="Mensagem" class="form-control"></td></tr>
                          
                                </tbody>
                            </table>
                </table>
                <div class="modal-footer" style="border: none;">
                      <button id="Atualizar" type="submit" class="Atualizar btn btn-success" style="width: 200px; background: rgb(99, 1, 1);font-weight: bold;border: 1px solid rgb(99, 1, 1) ;">Atualizar</button>
                      </div>
            </form>
        </div>
    </div>
  <script src="/js/home.js"></script>
  </body>
  </html>