<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= Title %> </title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/icons.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>
<body>

    <section class="prompt" id="prompt">
        <section class="id-left">
            <span class="sair" id="sair">X</span>
            <div class="input-values">
                <div class="total-section">
                    <span class="Total"><b style="font-weight: bold;font-size: large;margin: 3px;">Total a Pagar: </b><b id="totalValues"></b><b style="padding: 1px;">kz</b></span>
                    <span><b style="font-weight: bold;font-size: large;margin: 3px;">Troco: </b><b class="troco" style="color: green;font-size: 50px;" id="troco"></b></span>
                </div>
                    <table>
                        <tbody>
                            <tr><td><input type="number" name="" id="numbers"></td></tr>
                        </tbody>
                    </table>
                    <table style="margin: 2px;">
                        <tbody class="form-table-formate" id="form-table-formate">
                            <tr>
                                <td><button class="clickBtn" id="id1" value="1">1</button></td>
                                <td><button class="clickBtn" id="id2" value="2">2</button></td>
                                <td><button class="clickBtn" id="id3" value="3">3</button></td>
                            </tr>
                            <tr>
                                <td><button class="clickBtn" id="id4" value="4">4</button></td>
                                <td><button class="clickBtn" id="id5" value="5">5</button></td>
                                <td><button class="clickBtn" id="id6" value="6">6</button></td>
                            </tr>
                            <tr>
                                <td><button class="clickBtn" id="id7" value="7">7</button></td>
                                <td><button class="clickBtn" id="id8" value="8">8</button></td>
                                <td><button class="clickBtn" id="id9" value="9">9</button></td>
                            </tr>
                            <tr>
                                <td><button class="Pagar"><a href="/" id="pagar">PAGAR</a></button></td>
                                <td><button class="clickBtn" id="id0" value="0">0</button></td>
                                <td class="Del" id="delvalues"><button class="Del">DEL</button></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </section>
    </section>
