<div id="body-pd">
    <header class="header" id="header" style="background:#000;">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> <button data-bs-toggle="modal" data-bs-target="#exampleModal2" class="btn btn-success" style="background: rgba(212, 2, 2, 0.808); color: #fff;;border-radius: 10px;border:none;font-family: sans-serif;font-weight: bold;">Abrir Mesa</button> 
          <button class=" btns-vd"><a class="btn btn-success" href="/relatorios/fechodiario/<%= id %>">Fecho de Caixa</a></button> 
        </div>
        <div class="header_img" style="background-color: rgb(207, 95, 21);"> <img src="" alt="" id="imageprofile"> </div>
        
    </header>
    <div class="l-navbar" id="nav-bar" style="background-color: #000; border-top-right-radius: 5px;">
        <nav class="nav">
            <div> <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">Xandullas</span> </a>
                <div class="nav_list" id="level">
              <a href="/orders" id="orders" class="nav_link active types"> <img src="/images/menubar/home.png" alt="home" width="24"> <span class="nav_name">Todas Mesas</span> </a> 
              <a href="/history" id="history" class="nav_link  active types at"> <img src="/images/menubar/sales.png" alt="sales" width="24"> <span class="nav_name">Vendas e Faturas</span> </a>   
              <a href="/usuarios" id="usuarios" class="nav_link  active types at"> <img src="/images/menubar/employees.png" alt="usuarios" width="24"> <span class="nav_name">Usuarios</span> </a> 
                <a href="/produtos" id="produtos" class="nav_link  active types at"> <img src="/images/menubar/items.png" alt="produtos" width="24"> <span class="nav_name">Produtos</span> </a> 
                <a href="/relatorio" id="relatorio" class="nav_link  active types at"> <img src="/images/menubar/reports.png" alt="relatorio" width="24"> <span class="nav_name">Relatorio</span> </a> 
                <a href="/clientes" id="clientes" class="nav_link  active types at"> <img src="/images/menubar/suppliers.png" alt="cliente" width="24"> <span class="nav_name">Fornecedores</span> </a> 
                <a href="/clientes" id="clientes" class="nav_link  active types at"> <img src="/images/menubar/customers.png" alt="cliente" width="24"> <span class="nav_name">Clientes</span> </a> 
                <a href="/configuracao" id="configuracao" class="nav_link  active types at"> <img src="/images/menubar/config.png" alt="configuracao" width="24"> <span class="nav_name">Configuracao</span> </a> 
               </div>
            </div> <a href="/logout" class="nav_link active" id="ClickLogout"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">Sair</span> </a>
        </nav>
    </div>
    <div  class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgb(0, 0, 0);">
        <div class="modal-dialog">
          <div class="modal-content" style="background-color: rgb(0, 0, 0);">
            <div class="modal-header" style="border: none;">
              <h5 class="modal-title" id="exampleModalLabel" style="color: #fff; font-family: sans-serif; font-weight: bold;font-size: medium;">Abrir uma Mesa</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formOrderCreate">
                <p class="text-white-50 mb-5" id="status"> </p>
                <div class="form-outline form-white mb-10">
                    <input type="text" name="name" id="typeNomelX" placeholder="digite n# e em seguida numero da mesa." class="form-control" value="n#" style=" outline-style: none; outline: none; background-color: rgb(0, 0, 0);color: #fff; border: 1px 1px solid rgb(0, 0, .02); outline: none;" />
                </div>
                <hr>
                <div class="form-outline form-white mb-4">
                    <input type="text"  name="email" placeholder="digite qualquer identificador#" id="typeEmailX" class="form-control" style="background-color: rgb(0, 0, 0);color: #fff;outline: none;" value="d#" />
                </div>
                <div class="form-outline form-white mb-4">
                  <input type="text"  name="nif" placeholder="Digite o nif do cliente !" id="typeNif" class="form-control" style="background-color: rgb(0, 0, 0);color: #fff;outline: none;"  />
              </div>
                <div class="modal-footer" style="border: none;">
                    <a href="#" type="buttonfecharModel" id="buttonfecharModel" class="btn btn-default-hover btns"  data-bs-dismiss="modal">Fechar</a>
                    <button id="buttonCriarOrder" type="submit" class="buttonCriarOrder btn btn-default-xl">Abrir Mesa</button>
                    </div>
                    </form>
            </div>
           
          </div>
        </div>
      </div>
  </div>