<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= Title %> </title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/icons.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" />                                                                                                                               
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery-3.2.1.js"></script>
</head>
<body>

<%- include('../inc/header.ejs')  %> 
 
   <!-- Modal -->
   <div  class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background: rgb(25, 9, 43);">
        <div class="modal-header" style="border: none;">
          <h5 class="modal-title" id="exampleModalLabel" style="color: #fff;">Abrir uma Mesa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" >
            <form id="formOrderCreate">
            <p class="text-white-50 mb-5" id="status"> </p>
            <div class="form-outline form-white mb-10">
                <input type="text" name="name" id="typeNomelX" placeholder="digite n# e em seguida numero da mesa." class="form-control" style="background: rgb(25, 9, 43);color: #fff;outline: none;" />
            </div>
            <hr>
            <div class="form-outline form-white mb-4">
                <input type="text"  name="email" placeholder="digite qualquer identificador#" id="typeEmailX" class="form-control" style="background: rgb(25, 9, 43);color: #fff;outline: none;" />
            </div>
            <div class="modal-footer" style="border: none;">
                <a href="#" type="buttonfecharModel" id="buttonfecharModel" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
                <button id="buttonCriarOrder" type="submit" class="buttonCriarOrder btn btn-primary">Criar</button>
                </div>
                </form>
        </div>
       
      </div>
    </div>
  </div>
<script src="/js/home.js"></script>
</body>
</html>


<%- include('../inc/sidebar.ejs') %> >
   <!--Container Main start-->
   <div class="height-100 bg-light">
    <h4>Main Components</h4>
</div>
<!--Container Main end-->