
  <%- include('../inc/header.ejs')  %> 
  <div class="height-100 bg-light">
  <h4 style="font-size: medium;margin: 9px;padding-top: 10px; font-weight: bold; font-family: sans-serif; color: #666;"> Escolha um Modulo  </h4>
    <div style="text-align: center;">
      <div class="row" id="homes" style="text-align: center;">
        <a href="/history" >
        <div class="col-md-12 col-xl-2" id="module">
          <div class="card" >
            <div class="card-body text-center">
              <div class="mt-3 mb-4">
                <img src="/images/menubar/sales.png" width="24" />
              </div>
              <h4 class="mb-2" >Vendas e Faturas</h4>
             </div>
          </div>
          </div>
        </a>
  
        <a href="/usuarios" >
          <div class="col-md-12 col-xl-2" id="module">
            <div class="card" >
              <div class="card-body text-center">
                <div class="mt-3 mb-4">
                  <img src="/images/menubar/employees.png" width="24" />
                </div>
                <h4 class="mb-2" >Usuarios</h4>
               </div>
            </div>
            </div>
          </a>
  
  
          <a href="/relatorio" >
            <div class="col-md-12 col-xl-2" id="module">
              <div class="card" >
                <div class="card-body text-center">
                  <div class="mt-3 mb-4">
                    <img src="/images/menubar/items.png" width="24" />
                  </div>
                  <h4 class="mb-2" >Produtos</h4>
                 </div>
              </div>
              </div>
            </a>
  
            <a href="/relatorio" >
              <div class="col-md-12 col-xl-2" id="module">
                <div class="card" >
                  <div class="card-body text-center">
                    <div class="mt-3 mb-4">
                      <img src="/images/menubar/receivings.png" width="24" />
                    </div>
                    <h4 class="mb-2" >Relatorios</h4>
                   </div>
                </div>
                </div>
              </a>
  
          
                <a href="/relatorio" >
                  <div class="col-md-12 col-xl-2" id="module">
                    <div class="card" >
                      <div class="card-body text-center">
                        <div class="mt-3 mb-4">
                          <img src="/images/menubar/giftcards.png" width="24" />
                        </div>
                        <h4 class="mb-2" >Giftcards</h4>
                       </div>
                    </div>
                    </div>
                  </a>
  
                  <a href="/relatorio" >
                    <div class="col-md-12 col-xl-2" id="module">
                      <div class="card" >
                        <div class="card-body text-center">
                          <div class="mt-3 mb-4">
                            <img src="/images/menubar/customers.png" width="24" />
                          </div>
                          <h4 class="mb-2" >Clientes</h4>
                         </div>
                      </div>
                      </div>
                    </a>
  
                    <a href="/relatorio" >
                      <div class="col-md-12 col-xl-2" id="module">
                        <div class="card" >
                          <div class="card-body text-center">
                            <div class="mt-3 mb-4">
                              <img src="/images/menubar/config.png" width="24" />
                            </div>
                            <h4 class="mb-2" >Configuracao</h4>
                           </div>
                        </div>
                        </div>
                      </a>
      </div></div>
    </div>
  
    <%- include('../inc/sidebar.ejs')  %> 
<script src="/js/home.js"></script>
</body>
</html>